.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
  border: 1px solid black;
}

.card {
  height: 350px;
  width: 245px;
  border: 1px solid black;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.grid {
  padding: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10vh;
  grid-column-gap: 12vw;
}
