.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
  border: 1px solid black;
}

.card {
  min-height: 350px;
  width: 280px;
  border: 1px solid black;
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.grid {
  padding: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10vh;
  grid-column-gap: 12vw;
}

.img-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.img-backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.likes-container {
  display: flex;
  margin-bottom: 2px;
}

.like,
.likes {
  flex: 0.1;
}

.likes {
  padding-left: 5px;
  color: red;
}
.search-container {
  display: flex;
  justify-content: space-evenly;
}

.search-box {
  width: 100%;
  height: 20px;
}

.like-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.category {
  flex: 0.8;
  text-align: right;
  padding-right: 5px;
}

.comment {
  padding: 1px;
  border-bottom: 1px solid black;
  background-color: lightgreen;
}

.post-button {
  outline: none;
  width: 40%;
  padding: 2px;
  cursor: pointer;
  background-color: lightskyblue;
}

.post-button:hover {
  background-color: darkblue;
  color: white;
}

.main-searchbox {
  height: 18px;
  position: relative;

  right: 13%;
  width: 18%;
  font-size: 18px;
  padding: 5px;
}

.main-search-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  align-items: center;
  height: 50px;
}

.main-sort-item {
  flex: 0.1;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.border-line {
  width: 1px;
  height: 30px;
  position: relative;
  right: 36px;
  background: blue;
}

.main-search-input {
  text-align: center;
  flex: 0.8;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: auto auto;
  }
  .border-line {
    display: none;
  }
  .main-searchbox {
    width: 150px;
  }
  .most-commented {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
  }
  .border-line {
    display: none;
  }
  .main-searchbox {
    width: 150px;
  }
  .most-commented {
    margin-left: 10px;
  }
}
